<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add a user</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>

        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="fp13440"/>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="add()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>