<div>
    <div class="container">
        <div class="box">
            <div class="box-header">
                <h1>Users permissions</h1>
            </div>
            <div class="box-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th class="text-center">Delete ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>
                                <select name="role" ng-model="user.roleName" class="form-control">
                                    <option value="{{role}}" ng-repeat="role in roles">{{role}}</option>
                                </select>
                            </td>
                            <td class="col-xs-1 text-center"><i class="red glyphicon glyphicon-remove" ng-click="delete(user)"></i></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-left">
                                <button class="btn btn-default" ng-click="addUser()"><i class="glyphicon glyphicon-plus"></i> Add a user</button>
                            </td>
                            <td colspan="2" class="text-right">
                                <button class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>

</div>