<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{verb}} an item!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>

        <div class="form-group has-feedback">
            <label class="control-label" for="newItem">New Item?</label>
            <div>
                <switch id="newItem" name="newItem" ng-model="item.newItem" class="green"></switch>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="item.name" placeholder="Spring Boot"/>
        </div>

        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <input type="text" class="form-control" id="description" ng-model="item.description" placeholder="The Spring Framework is an application framework and inversion of control container for the Java platform"/>
        </div>

        <div class="form-group">
            <label class="control-label" for="link">Link</label>
            <input type="text" class="form-control" id="link" ng-model="item.link" placeholder="https://projects.spring.io/spring-boot/" />
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="delete()" ng-show="{{edit}}">Delete</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>