<div>
	<div class="annonce">
		<div class="profile" >
			<img src="img/bg-friends.jpg" alt="picture" class="pic-profile"/>
			<div class="style expe">
				<img src="img/logo_small_white.png" class="pic-style"/>
			</div>
		</div>
		
		<div class="content">
			<div class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div class="info">
				<div class="user">
					Colas Pomiès
				</div>
				-
				<div class="date">
					12 juin
				</div>
			</div>
			<div class="coment">
				3 commentaires
			</div>
		</div>
	</div>
	
	<div class="annonce">
		<div class="profile" >
			<img src="img/bg-friends.jpg" alt="picture" class="pic-profile"/>
			<div class="style adventure">
				<img src="img/logo_small_white.png" class="pic-style"/>
			</div>
		</div>
		
		<div class="content">
			<div class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div class="info">
				<div class="user">
					Colas Pomiès
				</div>
				-
				<div class="date">
					12 juin
				</div>
			</div>
			<div class="coment">
				3 commentaires
			</div>
		</div>
	</div>
	
	<div class="annonce">
		<div class="profile" >
			<img src="img/bg-friends.jpg" alt="picture" class="pic-profile"/>
			<div class="style friends">
				<img src="img/logo_small_white.png" class="pic-style"/>
			</div>
		</div>
		
		<div class="content">
			<div class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div class="info">
				<div class="user">
					Colas Pomiès
				</div>
				-
				<div class="date">
					12 juin
				</div>
			</div>
			<div class="coment">
				3 commentaires
			</div>
		</div>
	</div>	
</div>
