@import url(http://fr.allfont.net/allfont.css?fonts=arial-black);
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

body{
    font-family: "Arial  Black", Arial, sans-serif;
    background-color: #F3F3F4;
}

main{
  height: 100vh;
}

nav.navbar-top{
  min-height: 50px;
}

.navbar-nav{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-top{
  background-color: #FFFFFF;
  border-color: #E7E7E7;
  padding-bottom: 7px;
}

.navbar-top .container-fluid{
  padding: 0px;
}

.navbar-top .navbar-toggle{
  float: left;
  margin-left: 15px;
  border: none;
  border-radius: 50%;
  height: 42px;
  margin-left: 15px;
}

.with-navbar{
  padding-top: 66px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #9e9e9e;
}

.navbar-top .container-fluid .navbar-header {
  text-align: center;
  width: 100%;
  margin: 0px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.brand-logo{
    height: 37px;
     transition: background-color 1000ms linear;
}

.brand-logo.logo-green{
  background-color: #4D9C38;
}

.brand-logo.logo-red{
  background-color: #9c3838;
}

.brand-logo.logo-yellow{
  background-color: #9c7f38;
}

.navbar-header .pull-right a{
  display: block;
  float: left;
  color: #9E9E9E;
  width: 43px;
  height: 43px;
  margin-top: 10px;
  margin-right: 15px;
}

.navbar-header .pull-right{

}

.camera{
  font-size: 2em;
}

.profile-pic{
  border-radius: 50%;
}

.background-green{
  background-color: #699800;
  color: #FFFFFF;
}

.background-grey{
  background-color: #324350;
  color: #FFFFFF;
}


.home-form{
  height: 100vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  color: #FFFFFF;
}

#login{
  background-image: url("../img/bg-login.jpg");
}

#register{
  background-image: url("../img/bg-register.jpg");
}

.home-form::before{
  display: block;
  content: '';
  background-color: #516676BB;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.home-form > *{
  position: relative;
  z-index: 2;
}

.home-form .logo{
  text-align: center;
}

.home-form .logo-img{
  width: 70vw;
  height: auto;
  margin-top: 80px;
}

.home-form .hero-phrase{
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 2px;
  margin-top: 80px;
}

.home-form form{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.home-form form .form-group{
  background-color: rgba(255, 255, 255, .2);
  margin-bottom: 0px;
  padding: 10px 20px;
}

.home-form form .form-group:first-child{
  border-bottom: solid 1px rgba(255, 255, 255, .2);
}

#register form .form-group:nth-child(-n+2){
  border-bottom: solid 1px rgba(255, 255, 255, .2);
}

.home-form form .form-group label{
  opacity: .6;
  font-size: .9em;
}

.home-form form .form-group input{
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #FFFFFF;
  font-weight: 600;
}

.home-form form button{
  border-radius: 0px;
  background-color: #5D991C;
  border: none;
  padding: 20px;
}

.annonce{
	display: flex;
	margin: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.annonce-adventure{
  border-left: solid 3px #A87226;
}

.annonce-friends{
  border-left: solid 3px #0081BC;
}

.annonce-expedition{
  border-left: solid 3px #858A62;
}

.annonce .profile {
	position: relative;
  padding: 5px;
  align-self: flex-start;
}

.annonce .profile .pic-profile {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 5px;
}

.annonce .profile .style {
	position: absolute;
	bottom: 0;
	left: 6px;
	width: 23px;
	height: auto;
	border-radius: 100%;
}

.annonce .profile .style.expe {
	background-color: green;
}

.annonce .profile .style.adventure {
	background-color: brown;
}

.annonce .profile .style.friends {
	background-color: blue;
}

.annonce .profile .style .pic-style {
	width: 100%;
}

.annonce .content {
	position: relative;
	margin: auto;
	padding: 5px;
}

.annonce .content .info{
	margin-top: 5px;
	display: flex;
}

.annonce .content .info .user{
	align: left
	margin: auto;
	padding-right: 0.5em;
	font-weight: bold;
}

.annonce .content .info .date{
	align: left
	margin: auto;
	padding-left: 0.5em;
}

.annonce .content .coment{
	color: grey;
	float: right;
}

.event{
	display: flex;
	float: left;
	margin: 5px;
}

.event .date {
	margin: auto;
	text-align: center;
	font-weight: bold;
	width: 120px;
}

.event .content {
	margin: auto;
}

.coment{
	display: flex;
	float: left;
	margin: 5px;
}

.coment .profile {
	position: relative;
	margin: auto;
}

.coment .profile .pic-profile {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 5px;
}

.coment .profile .style {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 23px;
	width: 23px;
	height: auto;
	border-radius: 100%;
}

.coment .profile .style.expe {
	background-color: green;
}

.coment .profile .style.adventure {
	background-color: brown;
}

.coment .profile .style.friends {
	background-color: blue;
}

.coment .profile .style .pic-style {
	width: 100%;
}

.coment .content {
	position: relative;
	margin: auto;
	padding: 5px 5px 5px 20px;
}

.coment .content .info{
	margin-top: 5px;
	display: flex;
}

.coment .content .info .user{
	align: left
	margin: auto;
	padding-right: 0.5em;
	font-weight: bold;
}

.coment .content .info .date{
	align: left
	margin: auto;
	padding-left: 0.5em;
}

.home-form .register{
    text-align: center;
    margin-top: 45px;
    font-size: 1.2em;
}

.home-form .register a{
  color: #FFFFFF;
  text-decoration: underline;
}

.fixed-bottom{
  position: fixed;
  bottom:0px;
  left: 0px;
  right: 0px;
}

#welcome{
  background-color: #FFFFFF;
  min-height: 100vh;
}

#welcome h1{
  font-variant: small-caps;
  font-size: 2em;
  color: #BFBFBF;
  padding-left: 30px;
  margin-top: 0px;
  padding-top: 20px;
}

#welcome h2{
  padding: 10px 30px;
  font-size: 1.5em;
}

#welcome .logo-small{
  max-width: 15%;
  float: left;
  margin: 35px 10px;
}

#welcome .form-group{
  margin-bottom: 20px;
  padding: 0px 4px;
}

#welcome .background-grey{
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#welcome label{
  font-variant: small-caps;
  color: #BFBFBF;
  padding: 0px 10px;
}

#welcome input{
  border-radius: 0px;
  border: none;
  box-shadow: none;
  font-size: 1.3em;
  color: #333;
  padding: 0px 10px;
  border-bottom: solid 1px #BFBFBF;
}

#welcome button{
  border-radius: 0px;
  background-color: #5D991C;
  border: none;
  padding: 20px;
}

.step1 .user-avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  border: solid 1px #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
  display: block;
  cursor: pointer;
}

.step2 .user-avatar{
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
  float: left;
  margin: 15px;
}

#welcome .step2 h2{
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 100;
  line-height: 1.4em;
}

.welcome-text{
  padding-left: 15px;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}

.select-mode-container-parent{
  display: flex;
  overflow-x: scroll;
}

.select-mode-container{
  display: flex;
  flex-direction: row;
}

.select-mode{
  width: 90vw;
  height: 300px;
  margin: 1vw;
}

.select-mode input{
  display: none;
}

#welcome .select-mode label{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  position: static;
  cursor: pointer;
}

.mode{
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  border: solid 5px #BFBFBF;
}

#welcome .select-mode input[type="radio"]:checked + .mode{
  border-color: #5D991C;
}

.mode-adventure{
  background-image: url("../img/bg-adventure.jpg");
}

.mode-friends{
  background-image: url("../img/bg-friends.jpg");
}

.mode-expedition{
  background-image: url("../img/bg-expedition.jpg");
}

.welcome-message{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  color: #5D991C;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 15em;
  z-index: 5;
  display:none;
}

.welcome-message.show{
  display: block;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: main-block;
}

.welcome-message.show div{
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.welcome-message div:first-child{
  animation-name: first-row;
}

.welcome-message div:last-child{
  animation-name: last-row;
}

@keyframes first-row {
  0% {transform: translateX(50%);opacity: .25}
  50% {opacity: 1;}
  100% {transform: translateX(-200%);opacity: .25;}

}

@keyframes last-row {
    0% {transform: translateX(-100%);opacity: .25}
    50% {opacity: 1;}
    100% {transform: translateX(150%);opacity: .25;}
}

@keyframes main-block{
  0%{opacity: 1;}
  99%{height: 100vh;}
  100%{opacity: 0;height: 0px;}
}


.profile-header{
  background-size: cover;
  width: 100%;
  height: 133px;
  position: relative;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.profile-header:before{
  display: block;
  content: '';
  background-color: #516676BB;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.profile-header > *{
  z-index: 5;
  position: relative;
}

.profile-header.bg-friends{
  background-image: url('../img/bg-friends-small.jpg');
  background-position: center top;
}

.profile-header.bg-adventure{
  background-image: url('../img/bg-adventure-small.jpg');
  background-position: center top;
}

.profile-header.bg-expedition{
  background-image: url('../img/bg-expedition-small.jpg');
  background-position: center top;
}

.profile-header .profile-pic img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: right;
  position: relative;
  top: 85px;
  right: 20px;
}

.profile-header .user-info{
  padding-top: 20px;
  padding-left: 15px;
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 100;
  line-height: 1.4em;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1)
}


news-feed, .newsfeed{
  background-color: #;
  height: 100%;
}

/** ACTIONS BUTTONS */
.float-btn-group {
  position: fixed;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 65px;
  padding-left: 15px;
  min-height: 65px;
  overflow: hidden;
  right: 17px;
  bottom: 26px;
}

.float-btn-group.open {
    height: 270px;
}

.float-btn-group.open .icon-bars {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.float-btn-group .btn-float {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
}

.float-btn-group .btn-triger {
  position: absolute;
  bottom: 0px;
}


.float-btn-group .icon-bars {
    background: #fff;
    height: 1px;
    width: 22px;
    margin: auto;
    display: block;
    position: relative;
    -moz-transition: 0.3s 0.3s;
    -o-transition: 0.3s 0.3s;
    -webkit-transition: 0.3s;
    -webkit-transition-delay: 0.3s;
    -webkit-transition: 0.3s 0.3s;
    transition: 0.3s 0.3s;
}

.float-btn-group .icon-bars::after {
    content: '';
    position: absolute;
    height: 22px;
    width: 1px;
    background: #fff;
    top: -10px;
}

.float-btn-group .btn-list {
  opacity: 0;
  height  : 215px;
  width: 50px;
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.float-btn-group.open .btn-list {
    opacity: 1;
}


.float-btn-group .pink {
    background: #e91e63;
}

.float-btn-group .yellow {
    background: #ffa000;
}

.float-btn-group .blue {
    background: #40c4ff;
}

.float-btn-group .green {
    background: #00e676;
}

.float-btn-group .purple {
    background: #8e24aa;
}

.mood-selector{
  background-color: white;
  color: #333;
  padding: 15px;
  margin-bottom: 20px;
}

.mood-selector .brand-logo{
  cursor: pointer;
}

.mood-selector h3{
  margin-top: 0px;
  margin-bottom: 20px;
}

.welcome-message div:last-child{
  animation-name: last-row;
}

.mood-selector.hiding{
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: hide;
}

.mood-selector.hide{
  display: none;
}

@keyframes hide {
  0% {opacity: 1}
  /*99% {height: auto;}*/
  100% {opacity: 0;}

}
