<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form ng-submit="submit()">
                    <div class="box">
                        <div class="box-header">
                            <h1>Login</h1>
                        </div>
                        <div class="box-body">

                            <div class="form-group has-feedback">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" class="form-control" id="username" ng-model="credentials.username" />
                                <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" class="form-control" id="password" ng-model="credentials.password" />
                                <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>